.App {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    justify-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}


.App h1 {
    margin-top: 0.5rem;
    grid-column: 2;
    margin: 0;
}